@model OrderViewModel

<form method="post" class="renderCard">
    <input asp-for="OrderHeader.Id" hidden /> 
    <div class="container">
        <div class="card offset-1 col-10 rounded shadow">
            <div class="card-header rounded">
                <div class="row p-3">
                    <div class="col-6">
                        <h2 class="text-info">Order Summary</h2>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info shadow rounded">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-dark">Buyer Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Address" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Country" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.AppUser.Email" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-dark">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Pending)
                                {
                                    <li class="list-group-item bg-warning text-light">
                                        <div class="row container">
                                            <h5>Order Status - @Model.OrderHeader.OrderStatus</h5>
                                        </div>
                                    </li>
                                }
                                else if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Approved)
                                {
                                    <li class="list-group-item bg-success text-light">
                                        <div class="row container">
                                            <h5>Order Status - @Model.OrderHeader.OrderStatus</h5>
                                        </div>
                                    </li>
                                }
                                else if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Completed)
                                {
                                    <li class="list-group-item bg-info text-light">
                                        <div class="row container">
                                            <h5>Order Status - @Model.OrderHeader.OrderStatus</h5>
                                        </div>
                                    </li>
                                }

                                @if (Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Pending)
                                {
                                    <li class="list-group-item bg-warning text-light">
                                        <div class="row container">
                                            <h5>Payment Status - @Model.OrderHeader.PaymentStatus</h5>
                                        </div>
                                    </li>
                                }
                                else if (Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Approved)
                                {
                                    <li class="list-group-item bg-success text-light">
                                        <div class="row container">
                                            <h5>Payment Status - @Model.OrderHeader.PaymentStatus</h5>
                                        </div>
                                    </li>
                                }
                                else if (Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Completed)
                                {
                                    <li class="list-group-item bg-info text-light">
                                        <div class="row container">
                                            <h5>Payment Status - @Model.OrderHeader.PaymentStatus</h5>
                                        </div>
                                    </li>
                                }

                                @foreach (var detail in Model.OrderDetailList)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2 mt-2 border-1 shadow">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary pb-2">@detail.Product.Title</h6>
                                                <span class="badge bg-danger rounded">Price : @detail.Price.ToString("c")</span>
                                                <span class="badge bg-danger rounded">Quantity: @detail.Count</span>
                                                <span class="badge bg-danger rounded">Size: @detail.ProductSize</span>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                } 
                                <li class="list-group-item bg-white mt-2 border-1 shadow">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5>TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5>@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(RoleNames.SuperAdmin) || User.IsInRole(RoleNames.Admin))
                            {
                                @if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Pending && Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Pending)
                                {
                                    <a onclick="Delete('/order/cancelOrder?orderHeaderId=@Model.OrderHeader.Id')" class="btn btn-outline-danger form-control my-1 rounded">
                                        Cancel Order
                                    </a>
                                    <button type="submit" asp-action="ConfirmOrder" asp-route-orderHeaderId="@Model.OrderHeader.Id"
                                            class="btn btn-outline-success form-control my-1 rounded">
                                        Confirm Order
                                    </button>
                                }
                                @if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Approved && Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Pending)
                                {
                                    <button type="submit" asp-action="PendOrder" asp-route-orderHeaderId="@Model.OrderHeader.Id"
                                            class="btn btn-outline-warning form-control my-1">
                                        Change Order to Pending
                                    </button>
                                    <button type="submit" asp-action="ConfirmPayment" asp-route-orderHeaderId="@Model.OrderHeader.Id"
                                            class="btn btn-outline-success form-control my-1">
                                        Confirm Payment
                                    </button>
                                }
                                @if (Model.OrderHeader.OrderStatus == OrderHeaderStatus.Approved && Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Approved)
                                {
                                    <button type="submit" asp-action="PendPayment" asp-route-orderHeaderId="@Model.OrderHeader.Id"
                                            class="btn btn-outline-warning form-control my-1">
                                        Change Payment to Pending
                                    </button>
                                    <button type="submit" asp-action="CompleteOrder" asp-route-orderHeaderId="@Model.OrderHeader.Id"
                                            class="btn btn-outline-success form-control my-1">
                                        Complete Payment
                                    </button>
                                }
                                @if (Model.OrderHeader.PaymentStatus == OrderHeaderStatus.Completed)
                                {
                                    <button type="submit" class="btn btn-outline-info form-control my-1" disabled>
                                        Order Completed
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script src="~/js/order.js"></script>
}

